.container {
  height: 100vh;
  min-height: 800px;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  max-width: 820px;
  padding: 20px;
}

.about-contacts-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-contacts {
  line-height: 1.7;
}

#home {
  font-size: 3rem;
}

.about-korean {
  font-family: "Noto Sans KR", sans-serif !important;
}

@media screen and (max-width: 768px) {
  .about-container {
    font-size: clamp(12px, 4vw, 1.5rem);
    justify-content: flex-start;
  }

  #home {
    font-size: clamp(18px, 6vw, 2rem);
  }

  .about-contacts-container {
    flex-direction: column;
  }
}
